body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-mshtakan: Mshtakan;

  /* font sizes */
  --font-size-5xl: 24px;
  --font-size-13xl: 32px;

  /* Colors */
  --color-white: #fff;
  --color-darkblue: #0833cc;

  /* Border radiuses */
  --br-2xs: 11px;
}
