.macbook-pro-14-4-child {
  position: absolute;
  top: -76px;
  left: -94px;
  background: linear-gradient(
    180deg,
    rgba(182, 17, 107, 0.5),
    rgba(182, 17, 107, 0)
  );
  width: 1664px;
  height: 1928px;
}
.macbook-pro-14-4-inner,
.macbook-pro-14-4-item {
  position: absolute;
  top: 375px;
  left: 577px;
  border-radius: var(--br-2xs);
  background: linear-gradient(
    90deg,
    rgba(249, 248, 248, 0.36),
    rgba(249, 248, 248, 0.36)
  );
  border: 1px solid var(--color-darkblue);
  box-sizing: border-box;
  width: 400px;
  height: 50px;
  cursor: pointer;
}
.macbook-pro-14-4-inner {
  top: 465px;
}

.h,
.h1{
  top: 475px;
  position: absolute;
  cursor: pointer;
}


.h,
.h1 {
  top: 465px;
  left: 602px;
  font-size: var(--font-size-13xl);
  
  
}
.h1 {
  top: 374px;
}
::placeholder {
  color: white;
  opacity: 0.4; /* Firefox */
}
input{
  caret-color: white;
  display: block;
  margin-bottom: 9em;
  width: 400px;
  height: 50px;
  top: 10px;
  border: transparent;
  
  font-size: 10px;
  background: transparent;
  font-family: 'Times New Roman', Times, serif;
  color: white;
  }
  input:focus
{
   
    
    outline: none;
}
.rectangle-div {
  position: absolute;
  top: 614px;
  left: 542px;
  border-radius: 23px;
  background-color: var(--color-darkblue);
  border: 1px solid #bfbcbc;
  box-sizing: border-box;
  width: 497px;
  height: 50px;
  
}
.payment-gateway {
  position: absolute;
  top: 228px;
  left: 554px;
  font-size: 40px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: aliceblue;
}
.arrow{

cursor: pointer;
  position: absolute;
  top: 618px;
  left: 950px;
  color: aliceblue;

  font-size: 40px;
}
.name1 {
  cursor: pointer;
  position: absolute;
  top: 620px;
  left: 625px;
  font-family: "silom";
  font-size: 30px;
  color: aliceblue;
}
.macbook-pro-14-4 {
  position: relative;
  background-color: #0d0444;
  width: 100%;
  height: 982px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-mshtakan);
}
